<th:block th:replace="~{base::html (head=null,content=~{::#signinForm})}">
  <div>
    <form id="signinForm">
      <div class="form-group">
        <p id="error" class="text-danger"></p>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input id="email" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input id="password" type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>

</th:block>




